html,body{
    display:flex;
    justify-content:center;
    background-image:url("images/background.jpg");
}
#container{
    margin:auto;
    color:white;
    background-color:midnightblue;
}
canvas{
    border:2px solid white;
    background-color:black;
}
header{
    text-align:center;
    border:2px solid white;
    font-family: 'VT323', monospace;
    font-size:large;
}
footer{
    text-align:center;
}