html,body{
    display:flex;
    justify-content:center;
    background-color:greenyellow;
}
canvas{
    border: 2px solid black;
    background-image:url(images/background.jpg);

}
h1{
    font-family:Impact Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
